.contribution-graph {
	margin-bottom: 6px;
}

.contribution-graph .main {
	overflow-x: auto;
	padding: 2px;
}

.contribution-graph .main .title {
	font-size: 14px;
	margin-bottom: 36px;
	justify-content: flex-start;
}

.contribution-graph .main .charts {
	width: 100%;
	display: flex;
}

.contribution-graph .main .charts .column {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.contribution-graph .main .charts .row {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	align-items: flex-start;
	margin-bottom: 6px;
}

/**
*  default charts
*/
.contribution-graph .main .charts.default {
	flex-direction: row;
	align-items: flex-start;
}

.contribution-graph .default .week-indicator {
	background-color: transparent;
	font-size: 10px;
	min-width: 18px;
	height: 8px;
	margin-right: 8px;
	margin-top: 1.5px;
	text-align: center;
	cursor: pointer;
}

.contribution-graph .default .month-indicator {
	position: absolute;
	top: -24px;
	font-size: 10px;
	min-width: 20px;
	cursor: pointer;
}

/**
* month-track charts
*/
.contribution-graph .main .charts.month-track {
	flex-direction: column;
	align-items: flex-start;
}

.contribution-graph .month-track .date-indicator {
	min-width: 15px;
	min-height: 15px;
	font-size: 8px;
	width: auto;
	border-radius: 2px;
	margin-right: 2px;
	flex-grow: 1;
}

.contribution-graph .month-track .cell {
	min-width: 15px;
	min-height: 15px;
	font-size: 10px;
	width: auto;
	border-radius: 3px;
}

.contribution-graph .month-track .month-indicator {
	background-color: transparent;
	font-size: 10px;
	min-width: 40px;
	height: 15px;
	margin-right: 8px;
	text-align: right;
	cursor: pointer;
	top: auto;
}

/* cell*/
.contribution-graph .cell {
	min-width: 10px;
	min-height: 10px;
	font-size: 8px;
	width: auto;
	height: 10px;
	border-radius: 2px;
	background-color: transparent;
	margin-top: 2px;
	margin-right: 2px;
	flex-grow: 1;
	cursor: pointer;
	position: relative;
	text-align: center;
}

.contribution-graph .cell:hover {
	opacity: 0.6;
}

.contribution-graph .cell.empty {
	background-color: #ebedf0;
}

.theme-dark .contribution-graph .cell.empty {
	background: #333;
}